<%- include("./partials/header.ejs") %>
<h1><%=nn.n_name%></h1>
<p>Nominee SSN: <%=nn._id%></p>
<p>EMAIL: <%=nn.email%></p>
<p>Local Address: <%=nn.n_loc_add%></p>
<p>REGION: <%=nn.n_region%></p>
<%- include("./partials/footer.ejs") %>
